@font-face {
  font-family: 'CommitMono';
  src: url('../fonts/CommitMono.otf')
}

@font-face {
  font-family: 'Future';
  src: url('../fonts/Future-Italic.ttf')
}


body {
font-family: CommitMono, Monospace;
color: #060606;
font-size: 15px;
letter-spacing: 0.01em;
line-height: 1.6;
text-align:left;
position: relative;
background: #060606;
overflow-x: hidden;
padding: 1rem;
max-width: 1000px;

}

* {
--celadon: #74d3aeff;
--sage-green: #678d58ff;
--muted-olive: #a6c48aff;
--champagne-mist: #f6e7cbff;
--sweet-salmon: #dd9787ff;
--mint-leaf: #3ab795ff;
--pale-slate: #c3c7d5ff;
--peach-fuzz: #ffd5c2ff;
--dusty-denim: #6c91bfff;
--mauve-shadow: #5d4e60ff;
--fonce: #2B2B2B;
--foncee: #333333;
--fonceee: #404040;
--fonceee: #474747;
--fonceeee: #4F4D4D;
--fonceeeee: #545252;
}

.menu {
  background: grey;
  box-sizing: border-box;
  font-family: Future;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  line-height: 1.6em;
  width: 200px;
  padding: 1rem;
  position: fixed;
}

.main {
  background: grey;
  color: dark grey;
  box-sizing: border-box;
  font-family: CommitMono, Monospace;
  font-size: 14px;
  letter-spacing: 0.07em;
  margin-left: 210px;
  padding: 2rem;
  width: 60%;
  max-width: 1000px;
  text-align: justify;
}

.shadowbox {
  color: #660099;
  opacity: 0.8;
  font-size: 24px;
  text-align: center;
  position: fixed;
  margin-right: 0px;
  padding: 1rem;
  top: 0px;
 width: 60%;}

a {
  background: white;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:link {
  background: white;
  color: black;
}

a:visited {
  color: #660099;
  background: white;
}

a:focus {
  background: white;
  color: black;
}

a:hover {
  color: #5d4e60ff;
  text-decoration: underline;
}

a:active {
  color: white;
  background: #660099;
}

big {
  font-family: Minion Pro Regular ;
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 700px) {
.main {
    margin-left: 0;
  }

.menu {
	position:relative;
	width: 100%;
    padding: 2rem;
	}

