#finder1a {
    float: left;
    width: 200px;
}
#finder1a {
    border-right: 1px solid 
    #ddd;
}
#finder1a {
    display: block;
    position: fixed;
    height: 100% !important;
    overflow: hidden;
    margin-top: -70px;
    width: 150px !important;
    padding-top: 50px;
    border-right: 1px solid #ddd;
    padding-left: 15px;
}
#finder1a {
    float: left;
    width: 200px;
}
* {
    margin: 0;
        margin-top: 0px;
    padding: 0;
        padding-top: 0px;
        padding-left: 0px;
}
.container {
    color: 
    #000;
}
body {
    font-size: 10px;
    font-family: "Lucida Grande";
